body{
    background-color: #5ce344;
}

h1{
    background-color: cornsilk;
    color: darkblue;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom:10px;
}

#Show_sketch{
    float:right;
    margin-right: 20px;
}

p{
    font-size: 25px;
    padding-top: 10px;
    color: white;
}

canvas{
    margin-top: 50px;
    border: 5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration:2s;    
    animation-iteration-count:infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px grey}
    to{box-shadow:1px 1px 38px white}
    
}